.assessmentQuestion{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.subtitle{
    font-size: 25px;
    border: 1px solid rgb(245, 234, 234);
    box-shadow: 4px 4px 2px rgb(225, 229, 245);
    padding:  5px 10px;
    border-radius: 5px;
}
.assessmentInf{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin: 10px;
}