.logo{
    font-weight: bold;
    font-size: 25px;
    color:rgb(99, 148, 240);
    margin-right: 19em;
}
.topbar{
    width: 100%;
    height: 80px;
    background-color:rgb(255, 255, 255);
    position: sticky;
    top:0;
    z-index: 999;
    align-items: center;
}
.topAvatar{
width: 90px;
height: 80px;
border-radius: 8em;
object-fit: contain;
cursor: pointer;
}