.barChart{
    flex: 1;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    padding: 20px;
}
.barChartTitle{
    font-size: 22px;
    font-weight: 600;
}