.featured{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.featuredItem{
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}
.featuredItemOrdi{
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    background-color:rgba(108, 226, 84, 0.2);
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}

.featuredTitle{
    font-size: 20px;
}
.featuredMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
.featuredStudent{
    font-size: 30px;
    font-weight: 600;
}
.featuredRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.featuredIcon{
    font-size: 14px;
    margin-left: 5px;
    color: green;

}
.featuredIcon.negative{
    color: red;
}
.featuredSub{
    font-size: 15px;
    color: gray;
}