.header{
    margin-top: 60px;
}
.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora',serif;
    color: #444;
}
.headerTitlesSm{
    position: absolute;
    top: 18%;
    font-size: 30px;
    color: rgb(82, 82, 248);
    font-weight: bold;
    
}
.headerTitlesLg{
    position: absolute;
    top: 22%;
    font-size: 90px;
}
.headerImg{
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
}