.topbar{
    width: 100%;
    height: 190px;
    background-color:rgb(231, 29, 29);
    /* background-color:rgb(255, 255, 255); */
    position: sticky;
    top:0;
    z-index: 999;
    align-items: center;
}

.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topAvatar{
    /* width: 300px;
    height: 300px; */
    border-radius: 8em;
    object-fit: contain;
    cursor: pointer;
} 
.centerText{
    font-weight: bold;
    font-size: 35px;
    color:#0474BA;
    cursor: pointer;
    margin-right: 3em;
}
/* .toLeft{
    width: 300px;
    height: 300px; 
} */
.topCenter{
 
    margin: "0 0 0 0";
}

@media  (max-width: 1200px) {
    .centerText {
        font-weight: bold;
        font-size: 28px;
        margin-right: 3em;
        
    }
    .topRightItem{
        font-size: 28px;  
    }
    .topAvatar{
        width: 90px;
        height: 100px;
    } 
    .topRight{
  
    }
    .topbarWrapper{
        padding: 0px 6px;
        justify-content: space-between;
    }
   
}  
@media  (max-width: 800px) {
    .centerText {
        font-weight: bold;
        font-size: 22px;
        margin-right: 2.5em; 
    }
    .topRightItem{
        font-size: 20px;  
    }
    .topAvatar{
        width: 90px;
        height: 100px; 
    } 
    .topRight{
   
    }
    .topbarWrapper{
        padding: 0px 4px;
        justify-content: space-between;
    }
}  
@media (max-width: 600px) {
    .centerText {
        font-weight: bold;
        font-size: 17px;
        margin-right: 1.5em;   
    }
    .topRightItem{
        font-size: 16px;  
    }
    .topAvatar{
        width: 80px;
        height: 900px;
       
    } 
    .topRight{
    
    }
    .topbarWrapper{
       
        padding: 0px 2px;
        justify-content: space-between;
    }
}
@media (max-width: 500px) {
    .centerText {
        font-weight: bold;
        font-size: 17px;
        margin-right: 1.5em;   
    }
    .topRightItem{
        font-size: 8px;  
    }
    .topAvatar{
        width: 60px;
        height: 700px;
       
    } 
    .topRight{
    
   
    }
    .topbarWrapper{
       
        padding: 0px 1px;
        justify-content: space-between;
    }
}