.topbar{
    width: 100%;
    height: 80px;
    background-color:rgb(255, 255, 255);
    position: sticky;
    top:0;
    z-index: 999;

}

.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leftTopBar{
    margin: "0 0 0 0";
}
.logo{
    font-weight: bold;
    font-size: 18px;
    color:rgb(37, 132, 221);
    cursor: pointer;
    margin: "0 0 0 0";
}
.topbarIconContainer{
    position:relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;

}
.topIconBadge{
    width: 15px;
    height: 15px;
    position:absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.toRight{
    display: flex;
    align-items: center;
}
.topAvatar{
    width: 50px;
    height: 50px;
    border-radius: 30%;
    object-fit: contain;
    cursor: pointer;
} 